{% extends 'base.html' %}
{% load static %}
{% block title %}{{ profile.name}} {{ profile.surname}} {{ profile.lastname}} {% endblock title %}


{% block content %}
<div class="container py-5">
    <div class="row">
        {% block sidebar %}
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
                <img src="{{ profile.photo.url }}" class="card-img-top" alt="{{ profile.name }}'s Photo">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-3">{{ profile.name }} {{ profile.surname }} {{ profile.lastname }}</h5>
                    <p class="card-text mb-auto">
                        <b>Логин:</b> {{ profile.login }}<br>
                        <b>Email:</b> {{ profile.email }}<br>
                        <b>Дата рождения:</b> {{ profile.date_of_birth }}<br>
                        <b>Пол:</b> {{ profile.gender }}
                    </p>
                    <a href="{% url 'profile_edit' %}" class="btn btn-primary mt-auto">Редактировать профиль</a>
                    <a href="{% url 'generate_pdf_report' profile.id %}" class="btn btn-secondary mt-2">Сгенерировать отчёт в PDF</a>
                </div>
            </div>
        </div>
        {% endblock sidebar %}

        {% block profile %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-3">
                        <div class="col mb-4">
                            <h6 class="mb-3">Избранное:</h6>
                            <ul class="list-group list-group-flush">
                                {% for film in profile.get_favorite %}
                                    <li class="list-group-item"><a href="{{ film.get_absolute_url }}">{{ film.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col mb-4">
                            <h6 class="mb-3">Просмотренное:</h6>
                            <ul class="list-group list-group-flush">
                                {% for film in profile.get_views %}
                                    <li class="list-group-item"><a href="{{ film.get_absolute_url }}">{{ film.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col mb-4">
                            <h6 class="mb-3">Оцененное:</h6>
                            <ul class="list-group list-group-flush">
                                {% for score in profile.get_scores %}
                                    <li class="list-group-item"><a href="{{ score.film.get_absolute_url }}">{{ score.film }} </a><a>- {{ score.star.value }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock profile %}
    </div>
</div>
{% endblock content %}