{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Редактировать профиль</h1>
                    <form method="post" enctype="multipart/form-data" class="mx-auto">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}