{% extends 'films/base.html' %}
{% load i18n film_tag %}
{% block title %} {{ film.name }} ({{film.year}}){% endblock title %}
{% block header %} {% endblock header %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}


{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block film %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ film.poster.url|default_if_none:'#' }}" class="img-fluid" alt="">
                <button id="play-video-button" class="btn btn-primary mt-2">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Посмотреть фильм
                    {% else %}
                        Watch Movie
                    {% endif %}
                </button>
                <a href="{{ film.trailer_url }}" target="_blank" class="btn btn-secondary mt-2">
                    {% if LANGUAGE_CODE == 'ru' %} Посмотреть трейлер {% else %} Watch Trailer {% endif %}
                </a>
                <a href="{% url 'generate_film_pdf_report' film.id %}" class="btn btn-secondary mt-2"><span><b>{% if LANGUAGE_CODE == 'ru' %} Сгенерировать отчёт в PDF {% else %} Create PDF report {% endif %} </b></span></a>
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ film.name }} ({{film.year}})
                </h3>
                <h5 class="editContent">{{ film.name_en }}</h5>
                <ul>
                    <li style="list-style: none">
                        {% get_current_language as LANGUAGE_CODE %}
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Год {% else %} Year {% endif %}</b>{{ film.year }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Страна: {% else %} Country: {% endif %}</b> 
                            {% for country in film.countries.all %}
                                {{ country.name }}{% if not forloop.last %} ,{% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Слоган: {% else %} Tagline: {% endif %}</b> {{ film.slogan }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Режиссёр: {% else %} Director: {% endif %}</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Режиссёр' or film_member_post.post.name == 'Director' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}{% if not forloop.last %} ,{% endif %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Оператор: {% else %} Operator: {% endif %}</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Оператор' or film_member_post.post.name == 'Operator' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}{% if not forloop.last %} ,{% endif %}
                                    </a>
                                    
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Сценарий: {% else %} Scenario: {% endif %}</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Сценарист' or film_member_post.post.name == 'Scenarist' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}{% if not forloop.last %} ,{% endif %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Композитор: {% else %} Compositor: {% endif %}</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Композитор' or film_member_post.post.name == 'Compositor' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}{% if not forloop.last %} ,{% endif %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Актёр: {% else %} Actor: {% endif %}</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Актёр' or film_member_post.post.name == 'Actor'%}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}{% if not forloop.last %} ,{% endif %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Жанр: {% else %} Genres: {% endif %}</b>
                        {% for genre in film.genres.all %}
                            {{ genre.name }}{% if not forloop.last %} ,{% endif %}
                        {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Премьера в мире: {% else %} Release date (World) {% endif %}</b> {{ film.release_date_world }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Премьера в России: {% else %} Release date (Russia) {% endif %} </b> {{ film.release_date_russia }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Бюджет: {% else %} Budjet {% endif %} </b> {{ film.budjet }} $</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Сборы: {% else %} Gross worldwide: {% endif %} </b> {{ film.gross }} $</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Возраст: {% else %} Age: {% endif %} </b> {{ film.age }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} MPAA: {% else %} MPAA: {% endif %} </b> {{ film.mpaa_rating }}</span>
                    </li>
                    <li style="list-style: none">   
                        <span><b>{% if LANGUAGE_CODE == 'ru' %} Рейтинг: {% else %} Rating: {% endif %} </b>{{film.rating}}</span>
                    </li>
                    {% for score in user.get_scores %}
                        {% if score.film == film %}
                        <li style="list-style: none">
                            <span><b>{% if LANGUAGE_CODE == 'ru' %} Ваша оценка: {% else %} Your Score: {% endif %} </b> {{ score.star.value }}</span>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li style="list-style-type: none;">
                        <form action="{% url 'add_rating' film.url %}" method="post" name="rating">
                            {% csrf_token %}
                            <span class="rating">
                                {% for k, v in star_form.fields.star.choices %}
                                    <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                                    <label for="rating{{ v }}">{{ k }}</label>
                                {% endfor %}
                            </span>
                        </form>
                        <script>
                            const ratingInputs = document.querySelectorAll('input[name="star"]');
                            const ratingForm = document.querySelector('form[name="rating"]');
                            ratingInputs.forEach(input => {
                                input.addEventListener('click', () => {
                                    ratingForm.submit();
                                });
                            });
                        </script>
                    </li>
                    <li style="list-style-type: none;">
                        <form action="{% url 'add_to_favorite' film.id %}" method="post">
                            {% csrf_token %}                            
                            <button type="submit" class="btn btn-outline-danger">
                                {% if film in user.get_favorite %}
                                    {% if LANGUAGE_CODE == 'ru' %} Удалить из избранного {% else %} Delete Favorite {% endif %}
                                {% else %}
                                    {% if LANGUAGE_CODE == 'ru' %} Добавить в избранное {% else %} Add Favorite {% endif %}
                                {% endif %}
                            </button>
                        </form>
                    </li>
                    <li style="list-style-type: none;">
                        <form action="{% url 'mark_as_viewed' film.id %}" method="post">
                            {% csrf_token %}  
                            <button type="submit" class="btn btn-outline-primary">  
                                {% if film in user.get_views %}
                                    {% if LANGUAGE_CODE == 'ru' %} Удалить из просмотренного {% else %} Delete Viewed {% endif %}
                                {% else %}
                                    {% if LANGUAGE_CODE == 'ru' %} Добавить в просмотренное {% else %} Add Viewed {% endif %}
                                {% endif %}
                            </button>
                        </form>
                    </li>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                {% if LANGUAGE_CODE == 'ru' %} О фильме {% else %} About Movie {% endif %} {{ film.name }}
            </h3>
            <p>
                {% for image in film.photo_set.all %}
                    <img src="{{image.image.url}}" class="img-film-shots" alt="{{image.description}}">
                {% endfor %}
            </p>
            <p class="editContent" style="outline: none; cursor: inherit;">
                {{ film.description|safe }}
            </p>
        </div>  
        <div class="row">
            <div class="single-form-left">
                <div class="contact-single">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                        <span class="sub-tittle editContent"
                            style="outline: none; cursor: inherit;">
                        </span>{% if LANGUAGE_CODE == 'ru' %} Оставить отзыв {% else %} Leave Review {% endif %}
                    </h3>
                    <form action="{% url 'add_review' film.id %}" method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="form-group editContent"
                            <label for="contactcomment" class="editContent"
                                {% if LANGUAGE_CODE == 'ru' %} Ваш комментарий * {% else %} Your Comment {% endif %}
                            </label>
                            <textarea class="form-control-review border" rows="5" name="text"
                                    id="contactcomment" required=""></textarea>
                        </div>
                        <button type="submit"
                                name="submit_review"
                                class="mt-3 btn btn-success btn-block py-3"
                                style="outline: none; cursor: inherit;">
                                {% if LANGUAGE_CODE == 'ru' %} Отправить {% else %} Send {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% for review in film.get_review %}
            <div class="media py-5">
                <img src="{{review.user.photo.url}}" class="mr-3 img-fluid1" alt="image"
                    style="outline: none; cursor: inherit; ">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent"
                        style="outline: none; cursor: inherit;">
                        {{ review.user.name }} {{ review.user.surname }} ({{review.user.login}})
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>                    
                    {% if request.user.is_authenticated and review.user == request.user.user or request.user.is_superuser %}
                        <form action="{% url 'add_review' film.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-delete" type="submit" name="delete_review" value="{{ review.review_id }}">Удалить</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}    
    <div class="grid-img-right mt-4 text-right bg bg1" >
        {% include 'include/pagination.html' %}
    </div>
</div>
</div>
{% endblock film %}