{% extends 'films/base.html' %}
{% block title %} {{ film.name }} {% endblock title %}
{% block header %} {% endblock header %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}


{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block film %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ film.poster.url|default_if_none:'#' }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ film.name }} {{'('}}{{film.year}}{{')'}}
                </h3>
                <h5 class="editContent">{{ film.name_en }}</h5>
                <ul>
                    <li style="list-style: none">
                        <span><b>Год:</b> {{ film.year }}</span></li>
                    <li style="list-style: none">
                        <span><b>Страна:</b> 
                            {% for country in film.countries.all %}
                                {{ country.name }}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Слоган:</b> {{ film.slogan }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Режиссёры:</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Режиссёр' or film_member_post.post.name == 'Director' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Операторы:</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Оператор' or film_member_post.post.name == 'Operator' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Сценаристы:</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Сценарист' or film_member_post.post.name == 'Scenarist' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Композиторы:</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Композитор' or film_member_post.post.name == 'Compositor' %}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Актеры:</b>
                            {% for film_member_post in film.filmmemberpost_set.all %}
                                {% if film_member_post.post.name == 'Актёр' or film_member_post.post.name == 'Actor'%}
                                    <a href="{{ film_member_post.member.get_absolute_url }}"> 
                                        {{ film_member_post.member.name }} {{ film_member_post.member.surname }} {{ film_member_post.member.last_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Жанр:</b>
                        {% for genre in film.genres.all %}
                            {{ genre.name }}
                        {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Премьера в мире: </b> {{ film.release_date_world }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Премьера в России: </b> {{ film.release_date_russia }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Бюджет: </b> {{ film.budjet }} $</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Сборы: </b> {{ film.gross }} $</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Рейтинг: </b>Тут сделать скрипт</span>
                    </li>
                    <li>
                        <form action="{% url 'add_rating' %}" method="post" name="rating">
                            {% csrf_token %}
                            <input type="hidden" value="{{ film.id }}" name="film">
                            <span class="rating">
                                {% for k, v in star_form.fields.star.choices %}
                                    <input id="rating{{ v }}" type="radio" name="star"
                                           value="{{ k }}">
                                    <label for="rating{{ v }}">{{ k }}</label>
                                {% endfor %}
                            </span>
                            <button type="submit">Отправить</button>
                        </form>
                    </li>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                О фильме {{ film.name }}
            </h3>
            <p>
                {% for image in film.photo_set.all %}
                    <img src="{{image.image.url}}" class="img-film-shots" alt="{{image.description}}">
                {% endfor %}
            </p>
            <p class="editContent" style="outline: none; cursor: inherit;">
                {{ film.description|safe }}
            </p>
        </div>  
        <hr>
        <div class="row">
            <div class="single-form-left">
                <div class="contact-single">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                        <span class="sub-tittle editContent"
                            style="outline: none; cursor: inherit;">
                        </span>Оставить отзыв
                    </h3>
                    <form action="{% url 'add_review' film.id %}" method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="form-group editContent"
                            <label for="contactcomment" class="editContent"
                                Ваш комментарий *
                            </label>
                            <textarea class="form-control border" rows="5" name="text"
                                    id="contactcomment" required=""></textarea>
                        </div>
                        <button type="submit"
                                class="mt-3 btn btn-success btn-block py-3"
                                style="outline: none; cursor: inherit;">
                                Отправить
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% for review in film.get_review %}
            <div class="media py-5">
                <img src="{{review.user.photo.url}}" class="mr-3 img-fluid1" alt="image"
                    style="outline: none; cursor: inherit; ">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent"
                        style="outline: none; cursor: inherit;">
                        {{ review.user }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                </div>
            </div>
        {% endfor %}    
        </div>
    <div class="grid-img-right mt-4 text-right bg bg1" >
        {% include 'include/pagination.html' %}
    </div>
</div>
    </div>
{% endblock film %}