{% load i18n film_tag %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1><a href="/" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro, sans-serif;">{% if LANGUAGE_CODE == 'ru' %} Кинотека {% else %} Kinoteka {% endif %}</a>
                </h1>
            </div>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="/">{% if LANGUAGE_CODE == 'ru' %} Главная {% else %} Main {% endif %}</a></li>
                <li>
                    {% if request.user.is_authenticated %}
                        <li> <a href="{% url 'profile' %}">{{request.user.username.lower | title}}</a></li>
                        <li> <a href="{% url 'logout' %}">
                            {% if LANGUAGE_CODE == 'ru' %} Выход {% else %} SignOut {% endif %}
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">{% if LANGUAGE_CODE == 'ru' %} Войти {% else %} Signin {% endif %}</a></li>
                        <li><a href="{% url 'register' %}">{% if LANGUAGE_CODE == 'ru' %} Регистрация {% else %} SignUp {% endif %}</a></li>
                    {% endif %}
                </li>
                <li>
                    <form action="{% url 'set_language' %}" method="post" id="language_form">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ language.code }}/{{ request.get_full_path|slice:'4:' }}">
                        <select name="language" onchange="document.getElementById('language_form').submit();">
                            
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">
    <h3 class="mb-4 editContent" style= "color: rgb(255, 255, 255);">{% if LANGUAGE_CODE == 'ru' %} Мир твоего любимого кино {% else %} The world of your favorite movie {% endif %}</h3>
</div>
<!--// banner-inner -->