{% load film_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Поиск фильма</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите название..." name="q"
               class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>
<!--preference -->
<form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Жанры</h3>
        <ul class="w3layouts-box-list">
            {% for genre in view.get_genres %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="genre" value="{{genre.id}}">
                    <span class="span editContent">{{genre.name}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side">
        <h3 class="sear-head editContent">Год</h3>
        <ul class="w3layouts-box-list">
            {% for film in view.get_years %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="year" value="{{film.year}}">
                    <span class="span editContent">{{film.year}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
</form>
<!-- //discounts -->
<!-- reviews -->

<div class="customer-rev left-side my-4">
    <h3 class="sear-head editContent">Рейтинг</h3>
    <ul class="w3layouts-box-list">
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">10</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">9</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">8</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">7</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">6</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">5</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">4</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">3</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">2</span>
            </li>
        </li>
        <li class="editContent">
                <input type="checkbox" class="checked">
                <span class="span editContent">1</span>
            </li>
        </li>
    </ul>
</div>
{% get_last_movies count=5 %}