{% load i18n film_tag %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">{% if LANGUAGE_CODE == 'ru' %} Поиск фильма {% else %} Find movie {% endif %}</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder= '{% if LANGUAGE_CODE == 'ru' %} Введите название...  {% else %} Enter Name... {% endif %}'name="q"
               class="form-control" required="">
        <button type="submit" class="btn1 btn" ><span style='color: red'; class="fa fa-search" aria-hidden="true"></span></button>
    </form>
</div>
<form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">{% if LANGUAGE_CODE == 'ru' %} Жанр {% else %} Genre {% endif %}</h3>
        <ul class="w3layouts-box-list">
            {% for genre in view.get_genres %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="genre" value="{{genre.id}}">
                    <span class="span editContent">{{genre.name}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side">
        <h3 class="sear-head editContent">{% if LANGUAGE_CODE == 'ru' %} Страна {% else %} Country {% endif %}</h3>
        <ul class="w3layouts-box-list">
            {% for country in view.get_countries %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="country" value="{{country.id}}">
                    <span class="span editContent">{{country.name}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side">
        <h3 class="sear-head editContent">{% if LANGUAGE_CODE == 'ru' %} Год {% else %} Year {% endif %}</h3>
        <ul class="w3layouts-box-list">
            {% for film in view.get_years.distinct %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="year" value="{{film.year}}">
                    <span class="span editContent">{{film.year}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="customer-rev left-side my-4">
        <h3 class="sear-head editContent">{% if LANGUAGE_CODE == 'ru' %} Рейтинг {% else %} Rating {% endif %}</h3>
        <ul class="w3layouts-box-list">
            {% for film in view.get_stars %}
            <li class="editContent">
                <input type="checkbox" class="checked" name="star" value="{{film.value}}">
                <span class="span editContent">{{film.value}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side">
        <h3 class="sear-head editContent">{% if LANGUAGE_CODE == 'ru' %} Возраст {% else %} Age {% endif %}</h3>
        <ul class="w3layouts-box-list">
            {% for film in view.get_ages.distinct %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="age" value="{{film.age}}">
                    <span class="span editContent">{{film.age}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side">
        <h3 class="sear-head editContent">MPAA</h3>
        <ul class="w3layouts-box-list">
            {% for film in view.get_mpaa_rating.distinct %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="mpaa_rating" value="{{film.mpaa_rating}}">
                    <span class="span editContent">{{film.mpaa_rating}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit" class="btn btn-outline-secondary">{% if LANGUAGE_CODE == 'ru' %} Найти {% else %} Find {% endif %}</button>
</form>
{% get_last_movies count=3 %}